* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  color: white;
}
/*Header*/
.header {
  height: 500px;
  display: block;
  top: 0;
  position: relative;
}

.header > .imgCastle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 11px 11px 10px 10px #000000;
  box-shadow: 11px 11px 10px 10px #00000069,
  0 0 100px 20px rgba(248, 53, 86, 0.808), 
  0 0 140px 20px rgba(253, 239, 47, 0.699) ;
}

.header > .logo {
  z-index: 1;
  bottom: 0;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

/*Fin header*/
body {
  background-image: url("./src/assets/img/Skystar.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*Candidates*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 12px;
  gap: 0.5rem;
  background: linear-gradient(
    315deg,
    #077ce949 3%,
    #76e0fa7e 38%,
    #1fcbff7c 68%,
    #008cff77 98%
  );
}

article {
  display: flex;
  justify-content: center;
}

.img-candidates {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
/*Fin candidates*/

.video-container {
  margin: 6rem 0 1rem 0;
  display: flex;
  justify-content: center;
}
footer {
  text-align: center;
  box-shadow: inset 0 10px 10px 5px #0000002a,
    11px -11px 10px 10px #00000069;
  
  background: linear-gradient(
    315deg,
    #e9070759 3%,
    #fac1767e 38%,
    #ff1fbc7c 68%,
    #e5ff0077 98%
  );
  margin: 3rem 0 0 0;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;

}
