:root {
  --backg: url(../images/);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
}

.Img-castle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 12px;
  gap: 0.5rem;
  background: linear-gradient(
    315deg,
    #077ce949 3%,
    #76e0fa7e 38%,
    #1fcbff7c 68%,
    #008cff77 98%
  );
}

article {
  display: flex;
  justify-content: center;
}

.img-candidates {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h1 {
  text-align: center;
}

.Presenter {
  margin-left: 2rem;
  margin-top: 12rem;
}
